spring.application.name=list-service

spring.datasource.url=jdbc:postgresql://localhost:5432/list-db
spring.datasource.username=example_user
spring.datasource.password=example_password
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.open-in-view=false